{% extends 'base.html.j2' %}
{% block content %}
<div class="container about-us-container">
    <h1>About Us</h1>
    <p>Faruzawa was found as a passion project by a person that had an interesting idea and wanted to see if their hypothesis is possible</p>
    <p>Its cool to create and test and see if it works</p>
    <br>
    <p>The name Faruzawa is inspired from the character Faruzan on <a href="https://genshin.hoyoverse.com">Genshin Impact</a>.</p>
    <p>Is there any particular reason? Well... I just like her character</p>
    <br>
    <img src="/static/media/look-at-her.jpg">
    <img src="/static/media/shes-so-cute.png">
    <br>
    <br>
    <p>The individuals destined to attain such knowledge shall emerge endowed, borne aloft upon the eddies of wisdom's elusive stream, where the currents of enlightenment converge to reveal their latent truths.</p>
    <a href="https://kinuseka.us">Main Site</a>
</div>
{% endblock %}