{% extends 'base.html.j2' %}
{% block title %}
<title>Temporarily Blocked - Verify Yourself</title>
<meta property="title" content="Temporarily Blocked - Verify Yourself">
{% endblock %}
{% block content %}
<div class="notice-wrap">
    <h1>You are currently blocked from accessing this content</h1>
    <h3>A prompt will shortly appear to verify your identity</h3>
</div>
























{% endblock %}
